@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins&family=Roboto&family=Share+Tech&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Inter', sans-serif; */

/* common styling */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
.btn{
    background-color:#E02C6D;
    width: 180px;
    height: 44px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;;
    border-radius: 41px;
    border: 0;
    cursor: pointer;
    letter-spacing: 0.3;
}
.extra_btn_style{
    margin-left: 2px;
    font-size: 16px;
}
/* header part styling */
header{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 40px;
}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title>h1{
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.nav-menu>a{
    text-decoration: none;
    color: #3A3A3A;
    display: inline-block;
    margin: 5px;
    font-family: 'Poppins', sans-serif;;
}
.main_heading_part{
    display: flex;
    margin-top: 30px;
    align-items: center;

}
.half-width{
    width: 50%;
}
.heading_description>h1{
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    color: #3A3A3A;
}
.heading_description>p{
    font-weight: 600;
    width: 85%;
    color:#3A3A3A;
    font-family: 'Poppins', sans-serif;
}
.heading_image>img{
    width: 100%;
    max-height: 450px;
}
.small_screen_only{
    display: none;
    cursor: pointer;
}
#hidden-nav{
    background-color:rgba(224, 44, 109, 0.87);
    position: absolute;
    padding: 5px;
    display: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.479);
}
#hidden-nav>a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px;
    color: black;
    font-size: 13px;
    font-weight: 0px;
}
#hidden-nav>a:hover{
    color:seashell;
}
/*----------- sponsorship section styling ----------*/
.sponsor_logos{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid;
    border-image: linear-gradient(to right,transparent,rgba(128, 128, 128, 0.438),transparent);
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px;
}

/*--------------- popular collection starts here -------------*/

main{
    width: 80%;
    margin: 0 auto;
    max-width: 1050px;
}
main>h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}
main>a{
    display: block;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 50px;
}
section.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
main>section.item-container>.items{
    padding: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}
.article-img>img{
    width: 100%;
}
.article-info>h1{
    font-weight: 500;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 0;
}
.article-info>h2{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 10px;
}
.article-info>.stars{
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #FB8200;
    letter-spacing:2px;

}
.article-info>.stars>.rating_inside_star{
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    margin-left: 8px;
    letter-spacing: 0;

}
.article-info>p{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #787885;
    margin-top: 0;
}
/*latest product styling*/
    section.latest_product{

        display: flex;
        gap: 20px;
        width: 85%;
        max-width: 1100px;
        margin: 0 auto 100px;
    }
    .product_image,.product_info{
        width: 50%;
        text-align: center;
    }
    .product_image>img{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
    }
    section.latest_product>.product_info>div{
        width: 100px;
        height: 100px;
        border: 3px solid rgb(128, 129, 65);
        margin: 0 auto;
        border-radius: 50%;
        text-align: center;
        background-image: linear-gradient(45deg,red,rgba(182, 182, 45, 0.658));
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        color: rgb(22, 23, 92);
    }
    section.latest_product>.product_info>div>h1{
        margin-top: -20px;
    }
    section.latest_product>.product_info>h1{
        font-size: 40px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 4px black;
        font-weight: 900;
        color: rgb(224, 44, 110);
    }
    section.latest_product>.product_info>h2{
        font-size: 20px;
        margin-top: -20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    }
    section.latest_product>.product_info>p{
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    }   
/* footer styling */
footer{
    background-color: black;
    display: flow-root;
}
footer>.footer_article{
    color: white;
    margin: 50px auto;
    text-align: center;
    width: 350px;
}
.footer_article>h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
}
.footer_article>p{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 3px;
}
footer>.footer_article>.footer_icons{
    margin: 14px auto 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.i-1,.i-2,.i-3,.i-4{
    background-color: rgb(34, 27, 27);
    padding: 6px;
    border-radius: 50%;
}
/* media query for tablets */
@media only screen and (max-width: 768px) {
    header>nav{
        display: block;
        text-align: center;
    }
    .heading_description>h1{
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        color: #3A3A3A;
    }
    .heading_description>p{
        font-weight: 600;
        font-size: 13px;
        width: 85%;
        color:#3A3A3A;
        font-family: 'Poppins', sans-serif;
    }
    main{
        width: 90%;
    }
    section.item-container{
        grid-template-columns: repeat(2,1fr);
    }
    section.latest_product{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }
    .product_image,.product_info{
        width: 100%;
    }
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
    .main_heading_part{
        flex-direction: column-reverse;
    }
    .heading_description{
        width: 100%;
        text-align: center;
    }
    .heading_description>h1{
        font-size: 31px;
        font-weight: bolder;
    }
    .heading_description>p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .heading_image{
        width: 100%;
    }
    .sponsor_logos{
        margin: 70px auto;
        width: 100%;
        justify-content: space-between;
        row-gap: 10px;
    }
    section.item-container{
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0 auto;
    }
    .nav-menu{
        display: none;
    }
    .small_screen_only{
        display:inline;
    }
    header>nav{
        width:100%;
        display: block;
    }
    header>nav>.nav-title>h1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header>nav>.nav-title>h1>#drops_menu:hover #hidden-nav{
        display: block;
    }
}
