@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&family=Share+Tech&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Inter', sans-serif; */

/* common styling */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
.btn{
    background-color:#E02C6D;
    width: 180px;
    height: 44px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;;
    border-radius: 41px;
    border: 0;
    cursor: pointer;
    letter-spacing: 0.3;
}
.extra_btn_style{
    margin-left: 2px;
    font-size: 16px;
}
/* header part styling */
header{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 40px;
}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title>h1{
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;;
}
.nav-menu>a{
    text-decoration: none;
    color: #3A3A3A;
    display: inline-block;
    margin: 5px;
    font-family: 'Poppins', sans-serif;;
}
.main_heading_part{
    display: flex;
    margin-top: 30px;
    align-items: center;

}
.half-width{
    width: 50%;
}
.heading_description>h1{
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    color: #3A3A3A;
}
.heading_description>p{
    font-weight: 600;
    width: 85%;
    color:#3A3A3A;
    font-family: 'Poppins', sans-serif;
}
.heading_image>img{
    width: 100%;
    max-height: 450px;
}

/*----------- sponsorship section styling ----------*/
.sponsor_logos{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid;
    border-image: linear-gradient(to right,transparent,rgba(128, 128, 128, 0.438),transparent);
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px;
}

/*--------------- popular collection starts here -------------*/

main{
    width: 80%;
    margin: 0 auto;
    max-width: 1050px;
}
main>h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}
main>a{
    display: block;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 50px;
}
section.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
main>section.item-container>.items{
    padding: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}
.article-img>img{
    width: 100%;
}
.article-info>h1{
    font-weight: 500;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 0;
}
.article-info>h2{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 10px;
}
.article-info>.stars{
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #FB8200;
    letter-spacing:2px;

}
.article-info>.stars>.rating_inside_star{
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    margin-left: 8px;
    letter-spacing: 0;

}
.article-info>p{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #787885;
    margin-top: 0;
}
/* media query for tablets */
@media only screen and (max-width: 768px) {
    main{
        width: 90%;
    }
    section.item-container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
    section.item-container{
        grid-template-columns: 1fr;
    }
}
